{% extends "layout.html" %}
{% from "_form_macro.html" import render_icon_field %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {{render_icon_field(form.login, "fa-solid fa-envelope fa-xl text-light", "bg-primary")}}
            {{render_icon_field(form.password, "fa-solid fa-key fa-xl text-light", "bg-primary")}}
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <small class="text-muted ml-2">
                <a href="{{ url_for('auth.password_reset_request') }}">Forgot Password?</a>
            </small>
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('auth.register') }}">Sign Up Now</a>
    </small>
</div>
{% endblock content %}