{% extends "layout.html" %}
{% from "_form_macro.html" import render_icon_field, render_field %}

{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="update-form">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {{ render_icon_field(form.first_name, "fas fa-id-card fa-xl text-primary") }}
            {{ render_icon_field(form.last_name, "fas fa-id-card fa-xl text-primary") }}
            {{ render_field(form.avatar) }}
            <div class="form-check">
                {{ form.delete_avatar(class="form-check-input") }}
                {{ form.delete_avatar.label(class="form-check-label") }}
            </div>
            {{ render_icon_field(form.youtube, "fa-brands fa-youtube fa-xl text-danger") }}
            {{ render_icon_field(form.website, "fas fa-globe fa-xl text-warning") }}
            {{ render_icon_field(form.vk, "fab fa-vk fa-xl text-primary") }}
            {{ render_icon_field(form.telegram, "fa-brands fa-telegram fa-xl text-primary") }}
            {{ render_icon_field(form.instagram, "fa-brands fa-instagram fa-xl text-warning") }}
            {{ render_field(form.about) }}
            {{ render_field(form.phone_number) }}
            {{ render_field(form.viber) }}
            {{ render_field(form.whatsapp) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

</div>

{% endblock content %}