{% extends 'layout.html' %}
{% block content %}

<a href="{{ url_for('main.create_post')}}" class="btn btn-outline-success btn-lg" role="button">Create New Post</a>
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="/">{{
                post.author.username }}</a>
            <small class="text-muted">{{ post.posted_on.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('main.home', post_id=post.id) }}">{{ post.title }}</a></h2>
        <img src="{{url_for('static', filename='images/posts/' + post.image)}} " alt="" srcset="">
        <p>{{ post.content | safe }}</p>
    </div>
</article>
{% endfor %}

{% endblock %}